# Ignore configs I don't want public
/*
!.gitignore
!/alacritty/
!/dunst/
!/fastfetch/
!/hypr/
!/waybar/
!/screenshots/
!/rofi/
!/waybar-versions/
!starship.toml
!/wallpapers/
!README.md
waybar/scripts/.env
