/*
 * Islands - Top
 */

* {
    font-family: Fira Code Nerd Font;
    font-size: 14px;
    font-weight: 500;

    min-height: 18px;
}

#window {
    background: transparent;
    color: transparent;
    transition: none;
    border-radius: 0px 0px 10px 10px;
}

window#waybar {
    color: #ffffff;
    background: transparent;
    border-radius: 0px 0px 10px 10px;
}

#mpris {
    background-color: rgba(0, 0, 0, 0.05);

    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.25);

    margin-left: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 2px;

    padding-left: 10px;
    padding-right: 10px;
}

/* #clock {
    font-weight: bold;

    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    border-top: transparent;
} */

#clock {
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;

    margin-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 2px;

    padding-left: 10px;
    padding-right: 10px;
}

#custom-clock {
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;

    margin-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 2px;

    padding-left: 10px;
    padding-right: 10px;
}

#custom-weather {
    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;

    margin-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 2px;

    padding-left: 10px;
    padding-right: 5px; /* offset to account for icon misalignment */
}

#custom-weather.default {
    color: #dbd9d8;
}

#custom-weather.sunnyDay {
    color: #eeee22;
}

#custom-weather.clearNight {
    color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.severe {
    color: #eb937d;
}

#cpu {
}

#custom-nvidia {
}

#memory {
}

#bluetooth {
    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
    border-right: transparent;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
}

#network {
    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    border-left: transparent;

    margin-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 0px; /* offset to account for wifi icon misalignment */
    padding-right: 15px;
}

#wireplumber {
    background-color: rgba(0, 0, 0, 0.05);

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;

    margin-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
}
