/* TODO: comment and organize */

/* NOTE: Set language mode to Less in VS Code */

@define-color background #ffffff;
@define-color border #21322e;
@define-color active #d3d3b2;
@define-color text #383838;

/*
 * Main Styling
 */

* {
    font-family: Fira Code Nerd Font;
    font-size: 18px;

    margin-top: 2px;
    margin-bottom: 2px;

    color: @text;
}

#window {
    background: transparent;
    color: transparent;
    transition: none;
}

window#waybar {
    background-color: @background;
    border: 2px solid @border;
}

/*
 * Left Modules
 */

#workspaces {
    background-color: @background;
    border: 2px solid @border;

    margin-left: 6px;
    margin-right: 6px;

    margin-top: 3px;
    margin-bottom: 3px;

    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 6px;
}

#workspaces button.active {
    text-shadow: 3px 3px @active;
}

#mpris {
    background-color: @background;
    border: 2px solid @border;

    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 6px;
    margin-right: 6px;

    transition: 0.5s;

    border-radius: 6px;
}

#mpris.playing {
    background: @active;
    border: 2px solid @border;
}

/*
 * Center Modules
 */

#clock {
    background-color: @background;
    border: 2px solid @border;

    margin-left: 6px;
    margin-right: 6px;

    margin-top: 3px;
    margin-bottom: 3px;

    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 6px;
}

/*
 * Right Modules
 */

#network {
    background-color: @background;
    border: 2px solid @border;

    margin-left: 6px;
    margin-right: 6px;

    margin-top: 3px;
    margin-bottom: 3px;

    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 6px;

    padding-right: 3px;
}

#wireplumber {
    background-color: @background;
    border: 2px solid @border;

    margin-left: 6px;
    margin-right: 6px;

    margin-top: 3px;
    margin-bottom: 3px;

    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 6px;
}
